* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
    background-color: #272727;

}

html {
    font-size: 62.5%;
}

main {
    width: 100vw;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr);
    grid-template-columns: repeat(4, 1fr);
    padding: 10px;
    grid-gap: 5px;
}

main section {
    height: calc(100vh - 20px);
    border: 2px solid #4b4b4b;
    padding: 0 20px;
    border-radius: 5px;
}

main section h1 {
    font-size: 3rem;
    color: white;
    padding: 0 15px;
    padding-bottom: 20px;
    border-bottom: 1px solid #4b4b4b;
}

main .cards {
    height: calc(100vh - 130px);
    border: none;
}

#todo,
#doing,
#done {
    padding: 10px;
    overflow: scroll;
}

main .card {
    position: relative;
    background-color: lightgray;
    padding: 30px;
    border-radius: 5px;
    margin-bottom: 10px;
    cursor: pointer;
}

main .card h2 {
    margin-top: 0;
    font-size: 1.8rem;
    margin-bottom: 15px;
    color: black;
}

main .card p {
    font-weight: 300;
    margin: 5px 0;
    font-size: 1.3rem;
    color: rgb(46, 44, 44);
}

main .card p.description {
    padding-bottom: 20px;
    border-bottom: 1px solid darkgrey;
}

main .card .creator {
    font-style: italic;
    font-size: 1.2rem;
    margin-top: 15px;
}

main .card .delete-this {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    outline: none;
    cursor: pointer;
    color: rgb(46, 44, 44);
}

main .card .edit-this {
    position: absolute;
    top: 20px;
    right: 40px;
    background-color: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    outline: none;
    cursor: pointer;
    color: rgb(46, 44, 44);
}

main #add {
    background-color: transparent;
    padding-top: 10px;
}

form {
    margin-top: 30px;
}

form fieldset {
    border: none;
}

form fieldset legend.new {
    font-size: 2.4rem;
    font-weight: bold;
    padding-bottom: 23px;
    border-bottom: 1px solid #4b4b4b;
    color: white;
    width: 300px;
}

form fieldset legend {
    text-transform: uppercase;
    font-size: 1.7rem;
    font-weight: bold;
    padding: 0;
    margin: 30px 0 10px 0;
    color: white;
}

form fieldset label,
form fieldset input {
    display: block;
}

form fieldset label {
    margin-bottom: 3px;
    margin-left: 0;
    color: grey;
    font-size: 1.2rem;
}

form fieldset input,
form fieldset textarea,
form fieldset select {
    margin-bottom: 20px;
    width: 100%;
    height: 40px;
    padding-left: 10px;
    border: none;
    font-size: 1.4rem;
    background-color: #4b4b4b;
    color: white;
    border-radius: 5px;
}

form fieldset textarea {
    padding-top: 10px;
    height: 80px;
}

form fieldset input:focus,
form fieldset textarea:focus,
form fieldset select:focus {
    outline: none;
}

form fieldset .add-new {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 50%;
    height: 40px;
    cursor: pointer;
    border: none;
    outline: none;
    background-color: green;
    color: white;
    border-radius: 5px;
}

form fieldset .add-new:disabled {
    background-color: #4b4b4b;
    color: #b8b8b8;
    cursor: default;
}

form fieldset .valid {
    border: 1px solid green;
}

form fieldset .invalid {
    border: 1px solid red;
}

form fieldset .error {
    color: white;
    margin-top: -24px;
    margin-bottom: 20px;
    background-color: red;
    padding: 7px;
    z-index: 10;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    display: none;
}

legend.new:before {
    content: "+ ";
}

p.deadline,
p.color,
p.creator {
    display: inline-flex;
    padding-right: 10px;
    border: none;
}

#color {
    width: 90px;
    padding: 0;
    background: none;
}

.icon-person {
    width: 20px;
    height: 20px;
}

.icon-time {
    width: 15px;
    height: 15px;
}

.icon-color {
    width: 15px;
    height: 15px;
}